.leaf{
    background-image: url('./../assets/leaf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.carousel{
   overflow:hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3;
}

.carousel-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* background-color: green; */
    color: #fff;
}

.indicators{
    display: flex;
    justify-content: center;
}

/* .indicators text{
    color: #fff;
} */

.indicators> button{
    margin: 5px;
}

.indicators > button.active {
    /* background-color: green; */
    padding: 5px;
    border-radius: 200%;
    color: #fff;
}

